<div class="product-card">
  <div class="product-card__image-wrapper">
<img src="assets/{{ product.image | img_url: 'medium' }}" alt="{{ product.title }}" class="product-image" />
  </div>
  <div class="product-description">
 
  <div class="product-info">
  <h3 class="product-title">{{ product.title }}</h3>
    <span class="product-price">${{ product.price | money_without_trailing_zeros }} USD</span>

  </div>
  <div class="product-info">
     <button class="card__cart" aria-label="Cart">
        🛒
      </button>
  </div> 
  </div>
</div>

<style>

.product-image {
   border: 6px solid #8c52ff;

  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.product-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.product-description{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-info {
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  
  gap: 0.5rem;
}

.product-price {
  font-weight: bold;
}

.card__cart{
   background-color: #8B3DFF;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}




.product-card {
   border: 2px solid #8c52ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  transition: transform 0.3s ease;
  padding: 20px;
  margin: 80px;
  height: 900px;
}

.product-card__image-wrapper {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.product-card__image {
  display: block;
  object-fit: contain;
}

.product-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__title {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.product-card__price {
  font-size: 14px;
  color: #ccc;
  margin-top: 4px;
}

.card__cart {
  background-color: #a259ff;
  border: none;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>