// Colors
$color-text: #fff;
$color-background: rgb(23, 23, 23);
$color-primary: #762cfb;
$color-primary-hover: rgba($color-primary, .9);
$color-primary-light: #a394ef;
$color-primary-lighter: #856ffc;
$color-linear-gradient-topbar: #6e00ff;
$color-linear-second-gradient-topbar: #6e00ff00;
$color-linear-gradient-marquee: #232128;
$color-transparent: transparent;
$color-grey-text: #d1d5db;
$color-background-selection: #ec4899;
$color-text-selection: rgba(255, 255, 255);

//Max-Width
$max-width: 1440px;

//Fonts

$font-main: 'Aeonik';
$font-secondary: 'Countach';
