.footer {
  color: white;
  font-family: sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;
  margin: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1440px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 23px;

}

.footer__column {
  min-width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.footer__logo {
  width: 60px;
  margin-bottom: 10px;
}

.footer__nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.footer__policies {
  display: flex;
  justify-content: center;
align-items: center;
  margin-bottom: 20px;
  margin-top: 42px;
  font-size: 12px;
  color: #d1d5db;
  gap: 48px;
}


.footer__socials {
  display: flex;
  gap: 6px;
  font-size: 12px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  margin-top: 56px;
}


.footer__nav .active {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #7c3aed;
  width: fit-content;
}

.footer__payments-text {
  display: flex;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #d1d5db;
  justify-content: center;
}

.footer__payments {
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin-top: 60px;
}

.footer__payments img {
  width: 20px;
  margin-right: 6px;
}

.footer__newsletter-title {
  font-size: 14px;
  margin: 0px;
}

.footer__newsletter {
  display: flex;
  background-color: #1f1f1f;
  border-radius: 8px;
  overflow: hidden;
  max-width: 250px;
}

.footer__newsletter input {
  background: transparent;
  border: none;
  color: white;
  padding: 10px;
  flex: 1;
}

.footer__newsletter button {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 0 12px;
  cursor: pointer;
}

.logoFooter{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.lineFooter{
  text-align: center;
  color: rgb(118 44 251);
}

.textFooter{
  font-size: 34px;
  font-weight: 700;
}