.header {
    background-color: rgba(35,33,40,.3);
    backdrop-filter: blur(16px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 50;
    align-items: center;
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
  }
  
  .header__logo {
    display: flex;
    align-items: center;
    width: 20%;
    height: auto;
    display: block;
    
  }
  
  .header__cryptoH {
    position: relative;
    background: linear-gradient(90deg, rgba(118, 44, 251, .6), rgba(163, 148, 239, .6), rgba(133, 111, 252, .6));
    padding: 1px !important;
    border-radius: 9999px;
  }

  .header__cryptoH:hover {
    background: linear-gradient(90deg, #762cfb, #a394ef, #856ffc);
  }

  .header__crypto {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    background-color: rgb(21 21 21);
    ;
font-size: 12px;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .header__coins img {
    width: 26px;
    height: 26px;
  }
  .header__coins {
    display: flex;
   gap:.5rem;
  }
  
  .header__actions {
    display: flex;
    align-items: center;
  }
  
  .header__nav a {
    color: white;
    margin-right: 1rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .header__cart {
    background-color: rgba(118,44,251,.9);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    min-width: 60px;
    padding: .5rem;
  }