{% assign hero = settings['hero-banner'].settings %}

<section class="hero-banner" style="background-image: url('/assets/{{ hero.background_image }}')">
  <div class="hero-banner__content">
    <a href="{{ hero.button_link }}" class="hero-banner__button">
      {{ hero.button_text }}
    </a>
  </div>


</section>

 